<h1>{{message}}</h1>
<h3>{{why}}</h3>
<p> Baby Yoda or Grogu, known to many simply as "The Child", is a male Force-sensitive Jedi and Mandalorian foundling who belonged to the same species as Jedi Grand Master Yoda. Grogu was born in the year 41 BBY, and was raised at the Jedi Temple on Coruscant.

Grogu was eventually held at a hideout run by Nikto mercenaries on Arvala-7 during the New Republic Era, having survived the siege of the Jedi Temple decades prior. While still an infant at the age of fifty years, he was sought, on behalf of Moff Gideon, by an Imperial who hired Mandalorian bounty hunter Din Djarin to retrieve him.</p>

<img src='/images/BabyYoda.PNG' alt='Baby Yoda' width="500" height"500">